{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center;">
    <h3>Apa itu Sekuy?</h3>
    <p>
      Sekuy adalah sebuah aplikasi berbasis website yang berguna sebagai media pendukung proses belajar mengajar pada masa pandemi COVID-19
    </p>
    <hr>
    <h3>Kelebihan Sekuy</h3>
    <p>
      <h5>Simple</h5>
      <p>
        Simple, memiliki tampilan yang mudah dimengerti
      </p>
      <h5>Easy</h5>
      <p>
        Easy, mudah untuk digunakan
      </p>
      <h5>Free</h5>
      <p>
        Gratis, tanpa dipungut biaya apapun
      </p>
    </p>

  </div>
{% endblock %}
